@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");

.cabeçalho menu-hambuguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.png");
    display: inline-block;
    }

        .cabeçalho {
        background-color: var(--branco);
        }

.container {

    display: flex;
    align-items: center;

 }

    .container_imagem {
    padding: 1em;
    }

    .container botao:checked ~ .lista-menu {
    display: block;

    }

    .lista-menu {
    display: none;
    position: absolute;
    top: 100%;

    }

    .lista-menu titulo{
        color: var(--laranja);
    }

.lista-menu item {
padding: 1em;
background-color: var(--branco);
}

lista-menu titulo {
    color: var(--laranja);
    font-weight: 700;
}

    .lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    }

    .container__botao {
    display: none;
    }


